body{
    overflow-x: hidden;
}
.container{
    margin-top: 100px;    
}
.buy-btn{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.categories{
    text-align: center;
    margin-top: 60px;   
}
.underline{
    width: 10%;
    background-image: linear-gradient(45deg, orange, red);
    border-radius: 10px;
    height: 10px;
}
.card{
    border: none;
    box-shadow: 15px 15px 15px lightgray;
    padding: 10px 30px;
    margin: 10px 20px;
    border-radius: 10px;
}
.section{
    margin: 30px 0;
    padding: 60px 20px;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
}
h1{
    margin-top: 100px;
}